

.testimonial_card {
    max-width: 600px;
    padding: 8px;
    text-align: center;
    color: white;
    // background-color: #282828;

}

.testimonial_card__text {
    color: white;
}

.testimonial_card__who_title {
    font-style: italic;
    font-weight: 400;

    margin-left: 4px;
}